/* Resetting styles for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

/* Body styling */
body {
    color: #ffffff;
    background-color: #1E232C;
    text-align: center;
}

body::after {
    content: "";
    display: block;
    height: 10vh;
    background-color: #1E232C;
    border-radius: 10px;
}

/* Header styling */
#header {
    padding: 20px 10%;
}

/* Navigation styling */
.nav-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}

#h2 {
    font-size: 30px; 
    letter-spacing: 8px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#japanese-word {
    font-size: 70px;
    margin-top: -60px;
}

#japanese-word:visited {
    background-color: transparent; /* Set the background color to transparent for visited links */
}

.nav-element ul {
    list-style: none;
    display: flex;
}

/* Individual list item styling */
.li {
    margin: 0 20px;
    font-weight: bold;
}

.nav-element a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.nav-element a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3498db;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-element a:hover::after {
    width: 100%;
}

/* Quiz Section */
.textboxrow {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userInput {
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 48%;
    background-color: #1E232C;
    color: #FFFFFF !important;
    outline: none;
    box-shadow: 0 0 10px #3498dbc9;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Button styling */
#button {
    margin-top: -30px;
    padding: 20px 50px;
    font-size: 20px;
    background-color: #3498dbc9;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #3498db;
}

#article {
    max-width: 1250px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #20252f;
    transition: background-color 0.3s boxshadow 0.3s;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
}

th, td {
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #20252f;
}

th {
    font-weight: bold;
    background-color: #3498db;
    color: white;
}

td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #3498db0d;
}

/* Add transition for smoother hover effect */
tbody tr {
    transition: background-color 0.3s;
}

article a {
    color: whitesmoke;
    text-decoration: none;
}

article a:hover {
    color: #3498db;
}

article a:visited {
    background-color: #20252f;
}

.header-grid {
    padding-top: 0px;  /* Adjust the padding here */
}

#level-container {
    background-color: red;
}
